body{
    background-image: url("img/blue-background-clipart.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
.container {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1.2fr 1.2fr; 
    grid-template-rows: 0.2fr 2.4fr 0.4fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "barre-dessu barre-dessu"
    "texte image"
    "barre-dessou barre-dessou";
  }
.barre-dessu {
       grid-area: barre-dessu; 
       font-size: 20px;
       text-align:right;
       word-spacing: 2em;
       font-style: italic;

}

.texte { 
      grid-area: texte;
      margin: 200px;
      margin-top: 200px;
    
    
 }
.image { 
      grid-area: image; 

    
}
.barre-dessou { 
    grid-area: barre-dessou; 
    font-size: 20px;
    text-align: center;
    word-spacing: 2em;


}
.image1{
    width: 500px;
    align-content: center;
    margin: 50px;
    margin-top: 200px;
}
h1{
    color: brown;
    font-size: 35px;
}
h2{
    color: blueviolet;
    font-size: 25px;
}

.facebook{
    color: chartreuse;
    font-size: 25px;
}
.link{
    color: chartreuse;
    font-size: 25px;
}

